body {
	text-align: left;
	background-color: #F7F5D3;
}

#content {
	margin-left: 10%;
	margin-right: 10%;	
}

#content fieldset {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.forum_data {
	width: 100%;
	padding: 5%;
	border-width: 1%;
	border-color: #B1B5A6;
	border-style: solid;
}

.forum_data td, th {
	vertical-align: top;
}

.forum_data th {
	background-color: #CCC;
}

.forum_data textarea {
	width: 50%;
	height: 150%;
}

.user_data {
	width: 10%;
	background-color: #ABD8C9;
}

.topic_title {
	background-color: #95BA7E;
	color: #FFEE00;
}

h1, h2 {
	color: #95BA7E;
}

.post_message {
	margin: 1%;
	background-color: #95BA7E;
	border-color: #FFEE00;
	border-style: solid;
	border-width: 1%;
}
