<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Tuss4 Forum {% block subtitle %} {% endblock %}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/js/test.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style-base.css" />
	</head>
	<body>
		<div id="header">
		<ul>
			<li><a href="/">Tuss4 Forum</a></li>
			{% if user.is_authenticated %}
				<li>{% for q in p %}{% ifequal user q.member %}<a href="/view_profile/{{ q.member.id }}/">{% endifequal %}{% endfor %}Profile</a></li>
				<li><a href="/logout/">Logout</a></li>
			{% else %}
				<li><a href="/login/">Login</a></li>
				<li><a href="/register/">Register</a></li>
			{% endif %}
		</ul>
		</div>
		<div id="sub_forum">
			{% block subforum %}{% endblock %}
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>