{% extends "base.html" %}
{% block subtitle %} &gt; Home {% endblock %}
{% block content %}
<table class="forum_data">
	{% for c in cats %}
	<tr>
		<td class="cat"><a href="/cat/{{ c.id }}/">{{ c.name }}</a></td>
	</tr>
	<tr>
		<td>
			<table class="inner">
				{% for s in scats %}
					{% ifequal s.parent c %}
					<tr class="sub">
						<td><a href="/sub_cat/{{ s.id }}/">{{ s.name }}</a></td>
					</tr>
					<tr class="desc">
						<td>{{ s.description }}</td>
					</tr>
					{% endifequal %}
				{% endfor %}
			</table>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
