{% extends "base.html" %}
{% block subtitle %} &gt; Home {% endblock %}
{% block content %}
<table class="forum_data">
	{% for c in cats %}
	<tr>
		<td><fieldset>
			<legend><h2>{{ c.name }}</h2></legend>
			<table>
				{% for s in scats %}
					{% ifequal s.parent c %}
					<tr>
						<td><h3><a href="/sub_cat/{{ s.id }}/">{{ s.name }}</a></h3></td>
					</tr>
					<tr>
						<td>{{ s.description }}</td>
					</tr>
					{% endifequal %}
				{% endfor %}
			</table>
		</fieldset></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
