{% extends "base.html" %}
{% block subtitle %} &gt; {{ sub.parent.name }} &gt; {{ sub.name }}{% endblock %}
{% block subforum %}<ol class="breadcrumb"><li><a href="/">Home</a></li><li><a href="/cat/{{ sub.parent.id }}/">{{ sub.parent.name }}</a></li><li class="active">{{ sub.name }}</li></ol>{% endblock %}
{% block content %}
<table class="table table-hover table-bordered">
	<tr>
		<th>Topic</th>
		<th>Author</th>
		<th>Replies</th>
	</tr>
	{% for t in topics %}
	<tr>
		<td title="{{ t.description }}"><a href="/topic/{{ t.id }}/">{{ t.title }}</a></td>
		<td><a href="/view_profile/{{ t.author.id }}/">{{ t.author.username }}</a></td>
		<td>{{ t.post_set.count }}</td>
	</tr>
	{% endfor %}
</table>
{% if u %}
<p><a href="/add_topic/{{ sub.id }}/">Add New Topic</a></p>
{% endif %}
{% endblock %}