{% extends "base.html" %}
{% block subtitle %} &gt; {{ cat.name }} {% endblock %}
{% block subforum %}<ol class="breadcrumb"><li><a href="/">Home</a></li><li class="active">{{ cat.name }}</li></ol>{% endblock %}
{% block content %}
<table class="table table-striped table-bordered">
	<tr>
		<td><a href="/cat/{{ cat.id }}/">{{ cat.name }}</a></td>
	</tr>
	{% for s in scat %}
		<tr>
			<td><a href="/sub_cat/{{ s.id }}/">{{ s.name }}</a></td>
		</tr>
		<tr>
			<td>{{ s.description }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}