{% extends "base.html" %}
{% block subtitle %} &gt; {{ t.title }} {% endblock %}
{% block subforum %}<ol class="breadcrumb"><li><a href="/">Home</a></li> <li><a href="/cat/{{ t.parent.parent.id }}/">{{ t.parent.parent.name }}</a></li> <li><a href="/sub_cat/{{ t.parent.id }}/">{{ t.parent.name }}</a></li> <li class="active">{{ t.title }}</li></ol>{% endblock %}
{% block content %}
<table class="table table-bordered">
	<tr>
		<td>
			<div class="row">
				<div class="col-md-4">
					<p><a href="/view_profile/{{ t.author.id }}/">{{ t.author.username }}</a></p>
					<p>{% for g in gs %}{% ifequal t.author g.member %}<img src="{{ g.gravatar }}?s=100" alt="{{ t.author.username }}" title="{{ t.author.username }}">{% endifequal %}{% endfor %}</p>
					<p>{{ t.date }}</p>
					<p>Posts: {{ c }}</p>
				</div>
				<div class="col-md-8"><h4>{{ t.title }}</h4>{{ t.message|safe|linebreaks }}<br />{% if u %}-<a href="/edit_topic/{{ t.id }}/">Edit Topic</a>
			{% endif %}</div>
			</div>
		</td>
	</tr>
</table>
<br />
<br />
{% if posts %}
	{% for p in posts %}
	<div id="{{ p.id }}"><table class="table table-bordered">
		<tr>
		<td>
			<div class="row">
				<div class="col-md-4">
					<p><a href="/view_profile/{{ p.author.id }}/">{{ p.author.username }}</a></p>
					<p>{% for g in gs %}{% ifequal p.author g.member %}<img src="{{ g.gravatar }}?s=100" alt="{{ p.author.username }}" title="{{ p.author.username }}">{% endifequal %}{% endfor %}</p>
					<p>{{ p.date }}</p>
					<p>Posts: {% for m in mc %}{% ifequal m.user p.author %}{{ m.count }}{% endifequal %}{% endfor %}</p>
				</div>
				<div class="col-md-8"><h4>{{ p.title }}</h4>{{ p.post|safe|linebreaks }}<br />{% ifequal user p.author %}-<a href="/edit_post/{{ p.id }}/">Edit Post</a>
				{% endifequal %}</div>
			</div>
		</td>
		</tr>
	</table></div><br />
	{% endfor %}
<div class="pagination">
	<span class="step-links">
		{% if posts.has_previous %}
			<a href="?page={{ posts.previous_page_number }}">&lt;</a>
		{% endif %}
		<span class="current">
			{{ posts.number }} of {{ posts.paginator.num_pages }}
		</span>
		{% if posts.has_next %}
			<a href="?page={{ posts.next_page_number }}">&gt;</a>
		{% endif %}
	</span>
</div>
{% endif %}
<br />
<br />
{% if user.is_authenticated %}
<button id="toggle_quick_reply" class="btn btn-default">Post Reply</button>
<br />
<br />
<div id="post_reply" class="reply">
	<form action="" method="POST">
		<p><label for="reply">Reply:</label>
		<p><textarea id="reply" class="form-control" name="reply"></textarea></p>
		<p>
			{% csrf_token %}<button type="submit" class="btn btn-default">Reply</button>
		</p>
	</form>
</div>
{% endif %}
{% endblock %}
