{% extends "base.html" %}
{% block subtitle %} &gt; Login {% endblock %}
{% block subforum %}<h2>Home &gt; Login</h2>{% endblock %}
{% block content %}
<form action="" method="POST">
	<table class="forum_data">
		<tr>
			<td><label for="user">Username: </label></td><td><input id="user" name="user" type="text" /></td>
		</tr>
		<tr>
			<td><label for="pass">Password: </label></td><td><input id="pass" name="pass" type="password" /></td>
		</tr>
		{% csrf_token %}
	</table>
	<br />
	<button type="submit">Login</button>
</form>
{% endblock %}
